php_value memory_limit 256M
php_value upload_max_filesize 29M
php_value post_max_size 50M
php_value display_errors 1
php_value log_errors 1
php_value error_reporting 1


RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*?)-([0-9]+).(png|jpg|gif)		../glyph.php?id=$1&char=$2&format=$3				[L,NC,QSA]
