<h1><{$smarty.const._MA_FONTIER_ADMIN_IDENTITY_H1}></h1>
<div style="width: 100%;">
	<div style="width: auto; float: right; margin-right: 32px;"><{$pagenav}></div>
</div>
<div style="clear:both;">&nbsp;</div>
<table>
	<thead>
		<th>
			<td class="head" style="font-size: 1.8310em !important;"><{$smarty.const._MA_FONTIER_ADMIN_IDENTITY_NAME}></td>
			<td class="head" style="font-size: 1.8310em !important;"><{$smarty.const._MA_FONTIER_ADMIN_IDENTITY_VIEWS}></td>
			<td class="head" style="font-size: 1.8310em !important;"><{$smarty.const._MA_FONTIER_ADMIN_IDENTITY_DOWNLOADS}></td>
			<td class="head" style="font-size: 1.8310em !important;"><{$smarty.const._MA_FONTIER_ADMIN_IDENTITY_NAMING}></td>
		</th>
	</thead>
	<tbody>
	<{foreach from=$identities item=identity}>
		<tr class="<{cycle values='even,odd'}>">
			<td class="<{cycle values='even,odd'}>"><a href="<{$identity.url}>" target="_blank"><{$identity.name}></a></td>
			<td class="<{cycle values='even,odd'}>"><a href="<{$identity.url}>" target="_blank"><{$identity.views}></a></td>
			<td class="<{cycle values='even,odd'}>"><a href="<{$identity.url}>" target="_blank"><{$identity.downloads}></a></td>
			<td class="<{cycle values='even,odd'}>"><a href="<{$identity.url}>" target="_blank"><img width="100%" src="<{$identity.naming}>" /></a></td>
		</tr>
	<{/foreach}>
	</tbody>
</table>
<div style="clear:both;">&nbsp;</div>
<div>
	<div style="margin-left: 32px; width: auto; float: left;"><{$pagenav}></div>
</div>