############################################################################################################################
#
#  Chronolabs Cooperative Fontier+
#
#  You may not change or alter any portion of this comment or credits
#  of supporting developers from this source code or any supporting source code
#  which is considered copyrighted (c) material of the original comment or credit authors.
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# 
#  @copyright       Chronolabs Cooperative http://labs.coop
#  @license         General Public License version 3 (http://labs.coop/briefs/legal/general-public-licence/13,3.html)
#  @package         fontier+
#  @since           1.0.1
#  @author          Simon Roberts <wishcraft@users.sourceforge.net>
#  @subpackage		fontier+
#  @description		XOOPS Client for Fonts REST API - http://fonts.labs.coop
#  @link			http://fonts.labs.coop
#  @link			http://sourceforge.net/projects/chronolabs
#  @link			http://cipher.labs.coop
# 
############################################################################################################################
php_value memory_limit 360M
php_value error_reporting 0
php_value display_errors 0

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([0-9a-z]+)/upload.html$								admin.php?op=upload&clause=$1				[L,NC,QSA]
RewriteRule ^([0-9a-z]+)/surveys.html$								admin.php?op=surveys&clause=$1				[L,NC,QSA]
RewriteRule ^([0-9a-z]+)/survey.html$								admin.php?op=survey&clause=$1				[L,NC,QSA]
RewriteRule ^([0-9a-z]+)/(.*?)/font.html$							admin.php?op=font&clause=$1&name=$2			[L,NC,QSA]
RewriteRule ^([0-9a-z]+)/node.html$									admin.php?op=node&clause=$1					[L,NC,QSA]
RewriteRule ^(keys|fixes|typal)/nodes.html$							admin.php?op=nodes&clause=$1				[L,NC,QSA]

